---
import { getCollection, render } from 'astro:content';
import Layout from '@layouts/Layout.astro';

export async function getStaticPaths() {
  const posts = await getCollection('posts');
  return posts.map((post) => ({
    params: { slug: post.id },
    props: { post },
  }));
}

const { post } = Astro.props;
const { Content } = await render(post);
---

<Layout frontmatter={post.data} title={post.data.title}>
  <div class="my-4 space-x-2">
    {
      post.data.tags.map((tag) => (
        //<span class="border border-black py-1 px-2 rounded-lg">{tag}</span>
        <a
          href={`/tag/${tag}`}
          class="border border-black py-1 px-2 rounded-lg"
        >
          {tag}
        </a>
      ))
    }
  </div>
  <Content />
</Layout>
